@model IEnumerable<Biosalvus.Models.SpeciesAllViewModel>

@{
    ViewBag.Title = "LinqTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LinqTest</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr class="species">
            <td class="speciessciname">
                @Html.DisplayFor(modelItem => item.TotalCount)
            </td>
            <td class="speciesname">
                @Html.DisplayFor(modelItem => item.StateCode)
            </td>
            <td class="speciesstatus">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>