
@{
    ViewBag.Title = "Climate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Climate</h2>
<iframe width="630" height="460" frameborder="0" src="https://www.globalforestwatch.org/embed/widget/treeLoss/country/AUS/10?treeLoss=eyJpbnRlcmFjdGlvbiI6e319"></iframe>
<iframe width="315" height="460" frameborder="0" src="https://www.globalforestwatch.org/embed/widget/firesRanked/country/AUS/10?firesRanked=eyJwYWdlIjowfQ=="></iframe>
<iframe width="630" height="460" frameborder="0" src="https://www.globalforestwatch.org/embed/widget/firesAlerts/country/AUS/10?firesAlerts=eyJpbnRlcmFjdGlvbiI6e319"></iframe>

