@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biosalvus</h1>
    <p class="lead">Saving Australian Biodiversity</p>
    <p>Seamless Dashboard made for professionals to tackle threats for Imporant Fauna Species in Australia</p>
    @*<p class="btn btn-primary btn-lg">@Html.ActionLink("About Us", "About", "Home")</p>*@
    <p>@Html.ActionLink("About Us", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: #8a6d3b;height: 180px;">
        <h2>Climate Change</h2>
        <p>
            Understand what future has in plan and how to prevent them.
        </p>
        <p>Learn More</p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4" style="background-color: #98ad84;height: 180px;">
        <h2>Bushfire</h2>
        <p>In December 2019, Australia Burns. Find out more!</p>
        <p>Learn More</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4" style="background: #a5e551;height: 180px;">
        <h2>Cats</h2>
        <p>Cats hunt Billions of Australian Fauna pushing them to extinction. What we can do to help!</p>
        <p>@Html.ActionLink("Learn More", "Index", "CatRecords")</p>
    </div>
</div>
<div>
    <img src="~/Content/Images/BiosalvusLogo.jpeg" alt="Company logo" width="150" height="150" />
</div>