@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-12 col-sm-12" style="background-image:url(../Content/Images/burning-antler.jpg);height: 500px;background-size: cover;position: relative;opacity:0.8;">
        <br />
        <br />
        <div> @*style="background-color:lightgrey;opacity:0.5;margin: auto;width:50%;"*@
            <div style="text-align:center;color:white;padding-left:20%;padding-right:20%;padding-top:12%;">
                <h1>Biosalvus</h1>
                <p class="lead">Saving Australian Biodiversity</p>
                <br />
                <br />  
                <br />
                <p>
                    BioSalvus is a dashboard aiming to help you more effectively to understand the threats that endangered species are facing. Here, you can see the chances of endangered species that may appear in different areas, as well as how they are being threatened.
                    With the help of this dashboard, you can also filter the historical data of different species at different times, so that you can better plan for the protection of Australia's endangered species in the future.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-6 col-md-6" style="text-align:center;background-color: #3c4b4d;height:323px;color:white;">
        <h2>They Are Crying</h2>
        <p>
            Australia ’s Biodiversity Is Currently Declining.<br />
            In Australia, more than 1,700 species and ecological communities are known to be threatened and in threat of extinction.<br />
            The main threats to species are invasive species and changes in fire. Other threats include climate change caused by unsustainable use and management of natural resources.<br />
        </p>
        <input type="button" style="color:black;" value="Explore Stats" onclick="location.href='@Url.Action("SpeciesMap", "SpeciesAustralias")'" />
    </div>
    <div class="col-6 col-md-6">
        <img class="img-responsive" src="~/Content/Images/2-tricolor-parrots.jpg" alt="2-tricolor-parrots" height="300" width="485" style="margin-left:auto;"/>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-4 col-md-4">
        <div style="background-color:lightgrey;height: 350px;text-align:center;">
            <img class="img-responsive" src="~/Content/Images/cat-and-hummingbird.jpg" alt="cat-and-hummingbird img" height="200" width="350" style="height:200px;" />
            <h2>Cats</h2>
            <p>Cats hunt Billions of Australian Fauna pushing them to extinction. What we can do to help!</p>
            <input type="button" value="Know More" onclick="location.href='@Url.Action("Cats", "Home")'" />
        </div>
    </div>
    <div class="col-4 col-md-4">
        <div style="background-color: #3c4b4d;height: 350px;text-align: center;color:white;">
            <img class="img-responsive" src="~/Content/Images/tornado.jpg" alt="torando img" height="200" width="350" style="height:200px;" />
            <h2>Climate Change</h2>
            <p>
                Understand what future has in plan and how to prevent them.
            </p>
            <input type="button" style="color:black;" value="Know More" onclick="location.href='@Url.Action("ClimateChange", "Home")'" />
        </div>
    </div>
    <div class="col-4 col-md-4">
        <div style="background-color:lightgrey;height: 350px;text-align: center;">
            <img class="img-responsive" src="~/Content/Images/burning-antler.jpg" alt="burning-antler img" height="200" width="350" style="height:200px;" />
            <h2>Bushfire</h2>
            <p>In December 2019, Australia Burns. Find out more!</p>
            <input type="button" value="Know More" onclick="location.href='@Url.Action("Bushfire", "Home")'" />
        </div>
    </div>
</div>